.img_class {
    width: 250px;
}

.marquee_btn_div {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    text-align: center;
    justify-items: center;
}

.marquee_div {
    background-color: rgba(0, 0, 0, 0.041);
    height: 42px;
    width: 80%;
    padding: 0px 15px;
    border-radius: 5px;
}

.marquee_style {
    border-radius: 8px;
}

.btn_custom {
    color: white;
    width: 120px;
    height: 45px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(234, 6, 10, 250);
    border: none;
    border: 2px solid rgba(234, 6, 10, 250);
}

.btn_custom:hover {
    color: rgba(234, 6, 10, 250);
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.87);
    border: none;
    border: 2px solid rgba(234, 6, 10, 250);
}

.nav_container {
    margin-left: 15px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.041);
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.nav_container:hover {
    color: white;
    background-color: rgba(234, 6, 10, 250);
    padding: 10px;
}