.card_img {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    margin: 0 auto;
}

.custom_hr {
    border: 1px solid dotted;
}

.name {
    font-size: 22px;
}

.card_img img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 100px;
    gap: 20px;
}

.card_group_container {
    width: 250px;
    min-height: 400px;
    margin: 0 auto;
    box-shadow: 0px 1px 6px 1px #6a6a6a;
    cursor: pointer;
    transition: .5s;
    gap: 20px;
}

.card_group_container:hover {
    /* background-color: #cfc5c5; */
}


.btn_recipe {
    color: white;
    font-size: 18px;
    background-color: black;
    border: none;
    border-radius: 10px;
    transition: .3s;
    padding: 10px 35px;
    text-decoration: none;
}

.btn_recipe:hover {
    color: rgba(234, 6, 10, 250);
    /* background-color: white; */
    border: none;
    border-radius: 10px;
}