.slider {
    background-image: linear-gradient(to right, rgba(41, 39, 39, 0.74), rgba(41, 39, 39, 0.74)), url(../../assets/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .9;
}

.banner_p {
    margin: 0px 20%;
    padding: 120px 0px;
    color: white;
    line-height: 30px;
}

.banner_p h1 {
    font-weight: 600;
    margin-bottom: 30px;
}