.chef_section {
    font-family: playfair display, serif;
    font-size: 35px;
    font-weight: 600px;
}

/* ------------------media css for mobile phone  -----------------*/
@media (max-width: 575.98px) {
    .chef_section {
        font-family: playfair display, serif;
        font-size: 25px;
        font-weight: 600px;
        margin: 37px 0px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) and (max-width: 991.98px) {}